<div class="cookiealert" role="region" aria-label="{_"COOKIEALERT_AGREE"}">
    <div class="cookiealert-text">{_"COOKIEALERT_MESSAGE"}</div>

    <button type="button" class="btn btn-secondary btn-sm acceptcookies">
        {_"COOKIEALERT_AGREE"}
    </button>
</div>
