{var $level = $level ?? "danger"}
<div n:class="alert, has-icon, $level === 'warning' ? alert-warning : alert-danger" role="alert">
    {icon($level === "warning" ? "clock" : "warning-circle", "alert-icon")}
    <div>{$message}</div>

    {if $tsExceptions}
        <button type="button" class="alert-link-button" data-connectionproblem="trigger">
            {icon("bug", "i-sm")}{_"SHOW_PROBLEMS"}
        </button>

        <div class="connectionproblems" data-connectionproblem="hidden" style="display: none">
            {_"PROBLEMS_DESCRIPTION"}
            <ul>
                {foreach $tsExceptions as $e}
                    <li><code>#{$e->getCode()}: {$e->getMessage()}</code></li>
                {/foreach}
            </ul>
        </div>
    {/if}
</div>
